
body{
	margin: 0;
	padding: 0;
}

header{
	position: static;
	width: auto;
	height: 523px;
	background-image: url('images/header.jpg');
}


.logo {
	text-align: center;
}


.leftside{
	float: left;
}
.leftside span{
	margin-left: 200px;

}
.leftside img{
	margin-left: 141px;
	margin-top: 10px;
}


.tspan{
	margin-top: -32px;
	display: block;
}


.rightside{
	float: right;
	margin-top: 16px;
	margin-right: -1px;
	font-family: 'Oswald', sans-serif;
	font-size: larger;
}
.rightside span{
	margin-right: 25px;
}
.rightside img{
	margin-right: 0px;
}


h2{
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	font-size: 100px;
	text-align: center;
}

.topctr{
	/*position: relative;*/
	/*text-align: center;*/
	color: white;
	margin: 0 auto;
	padding-top: 204px;
	padding-left: 18px;
	font-weight: 100;
}

nav {
	font-family: 'Ubuntu', sans-serif;	
}


h3{
	font-family: 'Ubuntu', sans-serif;
	margin: 0 0 0 0;
	font-size: smaller;
	/*position: relative;*/
	text-align: center;
	/*margin-top: -80px;*/
}

.headline h2{
	font-family: 'Ubuntu', sans-serif;
}

.mainbody div{
	padding-top: 524px;
	width: 1008;
	height: 1008px;
}

.main p{
	padding-top:0;
}

