*{
	/*border: solid 1px red;*/
}

body{
	margin: 0;
	padding: 0;
}

header{
	position: static;
	width: auto;
	height: 523px;
	background-image: url('images/header.jpg');
}


.logo {
	text-align: center;
}


.leftside{
	float: left;
}
.leftside span{
	margin-left: 200px;

}
.leftside img{
	margin-left: 141px;
	margin-top: 10px;
}
.tspan{
	margin-top: -32px;
	display: block;
}



.rightside{
	margin-top: 16px;
	margin-right: -1px;
	font-family: 'Oswald', sans-serif;
	font-size: larger;
	float: right;
}
.rightside span{
	margin-right: 25px;
}
.rightside img{
	margin-right: 0px;
}


h2{
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	font-size: 100px;
	text-align: center;
}
.topctr{
	/*position: relative;*/
	/*text-align: center;*/
	color: white;
	margin: 0 auto;
	padding-top: 204px;
	padding-left: 18px;
	font-weight: 100;
}

nav {
	font-family: 'Ubuntu', sans-serif;
}

.main{
	font-family: "Open Sans", sans-serif;
}
.main p{
	padding-top:0;
}



h3{
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 0 0;
	font-size: smaller;
	/*position: relative;*/
	text-align: center;
	/*margin-top: -80px;*/
}

.headline h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: smaller;
}

.main{
	margin-left: 110px;
	margin-right: 110px;
}
section{
	width: 65%;
	float: left;
	height: auto;
}

h4{
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	color: #083452;
}

.buttonWrapper{
	float: left;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	text-align: center;
	color: white;

}
.button{
	margin-left: 1em;
	margin-right: auto;
	float: left;
	display: inline-block;;
}
.buttonimage{
	width:35px;
	height:30px;
	background-color: #5E686F;
	margin: 0 auto;
	float: left;
}
.buttonimage:hover{
	background-color: #083452;
}
.bimage{
	margin-left: 10px;
}
.buttontext{
	height:30px;
	background-color: #A3B3BF;
	text-align: center;
	float: left;
	color: white;
	line-height:30px;
	padding-left: 30px;
	padding-right:30px;
	margin-left: auto;
	margin-right: auto;
}
.button:hover .buttonimage{
	background-color: #083452;
}
.button:hover .buttontext{
	background-color: #106DB3;
	color: white;
}



aside{
	width:35%;
	display: block;
	float: right;
	height: auto;
	font-family: 'Open Sans', sans-serif;

}


.sidebar{
	width = 100%;
	height= 100%;
  display: table-cell;
  padding: 1em 1em 2em 1em;
  text-align:center;
}

h5{
	font-family: 'Ubuntu', sans-serif;
}

.avatar{
	width: 84px;
	height: 84px;
	background-image: url("images/avatar.png");
	margin: auto;
}
.socmedia{
	text-align: center;
}
.surfboardchick{
	height: 278px;
	width: 300px;
	background-image: url("images/ad.jpg");
	margin: auto;
}
.adcap{
	display: block;
	text-align: right;
}


.area{
	clear: both;
	width: 100%;
	height: auto;
}
.pops{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 5em;
}

.bcont{
	display: block;
	float: left;
	/*position: absolute;*/
}
.btm-caps{
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
	color: #083452;
	position: absolute;
	left: 0;
	bottom: 0;
}

.pics{
	width: 25%;
	height: auto;
	display: inline-block;
	position: relative;
	float: left;
}

footer{
	width:100%;
	position: static;
	height: 100px;
	background-color: #083452;
}
.bot-left span{

}


